OPENDOTA_API_KEY=
STRATZ_API_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJTdWJqZWN0IjoiMTRjZTgyYmQtZjEwZC00OWI3LTlmMDktZjg4OTIzYWU1MzZlIiwiU3RlYW1JZCI6IjExNjY2OTg3MiIsIkFQSVVzZXIiOiJ0cnVlIiwibmJmIjoxNzc2ODYyMjA3LCJleHAiOjE4MDgzOTgyMDcsImlhdCI6MTc3Njg2MjIwNywiaXNzIjoiaHR0cHM6Ly9hcGkuc3RyYXR6LmNvbSJ9.ArAZ0wAjzdr2BABBM6YjefXfcPwXCnhkQ9rXBf3tejU
NEXT_PUBLIC_APP_NAME=Dota Coach MVP
